
# Database
DATABASE_HOST=localhost
DATABASE_USER=juel
DATABASE_PASSWORD=123
DATABASE_PORT=5432
DATABASE_NAME=nest
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public

# JWT Secret Key
JWT_ACCESS_TOKEN_SECRET=bababababababababababababababab
JWT_REFRESH_TOKEN_SECRET=abababababababababababababababa

# OTP Security
MAIL_HOST=smtp.office365.com
MAIL_USER=verification@gmail.com
MAIL_PASSWORD=12345
