{
  "printWidth": 150,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "endOfLine": "lf",
  "jsxBracketSameLine": true
}
